<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <main>
        <div th:include="administrador/template_admin.html::menu">
        </div>
        <div class="form_contenedor">
            <form action="" class="form_product" method="post" th:action="@{/administrador/save}" enctype="multipart/form-data">
                <h2>Crear Producto</h2>
                <div class="contenido_form">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre del producto" required>
                </div>
                <div class="contenido_form">
                    <label  for="descripcion" >Descripción:</label>
                    <textarea id="descripcion" name="descripcion" required></textarea>
                </div>
                <div class="contenido_form">
                    <label for="precio" >Precio:</label>
                    <input id="precio" type="text" name="precio" placeholder="Ingrese el precio del producto" required>
                </div>
                <div class="contenido_form">
                    <label for="talla" >Talla:</label>
                    <input id="talla" type="text" name="talla" placeholder="Ingrese tallas del producto" required>
                </div>
                <div class="contenido_form">
                    <label for="categoria" >Categoría:</label>
                    <input id="categoria" type="text" name="categoria" placeholder="Ingrese el precio del producto" required>
                </div>
                <div class="contenido_form">
                    <label for="empresa" >Empresa:</label>
                    <input id="empresa" type="text" name="empresa" placeholder="Ingrese el precio del producto" required>
                </div>
                <div class="contenido_form">
                    <label for="codigo" >Código:</label>
                    <input id="codigo" type="text" name="codigo" placeholder="Ingrese el código del producto" required>
                </div>
                <div class="contenido_form">
                    <label for="img">Imagen:</label>
                    <input type="file" id="img" name="img">
                </div>
                <div class="contenido_form">
                    <button type="submit" class="btn_guardar">Guardar</button>
                </div>
            </form>
        </div>
        <div th:include="administrador/template_admin.html::footer">
        </div>
    </main>
</body>
</html>